@media (max-width: 1280px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 1280px) {
    .show-on-mobile {
        display: none;
    }
}




@media  screen and  (orientation: landscape) and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

}




/* @media screen and (max-width:480px) and (min-width: 320px) {
    .show-on-mobile {
        display: block;
    }

}


@media screen and (max-width: 767px) {
    .show-on-mobile {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .show-on-mobile {
        display: none;
    }
} */